.newGameButton
{
    name: "newGameButton";
    font: "fonts/dark_forest/darkforest.ttf";
    font-size: 60;
    text: "new game";
    color: green;
    position: 683 300;
}

.loadGameButton
{
    name: "loadGameButton";
    font: "fonts/dark_forest/darkforest.ttf";
    font-size: 60;
    text: "load game";
    color: green;
    position: 683 400;
}

.optionsButton
{
    name: "quitButton";
    font: "fonts/dark_forest/darkforest.ttf";
    font-size: 60;
    text: "options";
    color: green;
    position: 683 500;
    origin: center;
}

.quitButton
{
    name: "quitButton";
    font: "fonts/dark_forest/darkforest.ttf";
    font-size: 60;
    text: "quit";
    color: green;
    position: 683 600;
}

.newGameButton:hover, .quitButton:hover, .loadGameButton:hover, .optionsButton:hover
{
    color: red;
}
