.backButton
{
    name: "backButton";
    font: "fonts/dark_forest/darkforest.ttf";
    font-size: 60;
    text: "back";
    color: green;
    position: 100 700;
}

.playButton
{
    name: "playButton";
    font: "fonts/dark_forest/darkforest.ttf";
    font-size: 60;
    text: "play";
    color: green;
    position: 1266 700;
}

.prevShipButton
{
    name: "prevShipButton";
    texture: "textures/buttons/arrowButton.png";
    position: 503 400;
}

.nextShipButton
{
    name: "nextShipButton";
    texture: "textures/buttons/arrowButton.png";
    scale:  -1 1;
    position: 863 400;
}

.backButton:hover, .playButton:hover
{
    color: red;
}
